{% extends 'base.html' %} 
{% block content %}

     <form action="/signup" method="POST">
        <table cellspacing="5" cellpadding="5">
            <tr>
                <td colspan="3">
                    <h1>Signup</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="username">Username</label></td>
                <td>
                    <input type="text" name="username" value="{{username}}"/>
                </td>
                
            </tr>
        
            <tr>
                <td>
                    <label for="password">Password</label></td>
                <td>
                    <input type="password" name="password" value="{{password}}"/>
                </td>
                
            </tr>
            <tr>
                <td>
                    <label for="verify_password">Verify Password</label></td>
                <td>
                    <input type="password" name="verify_password" value="{{verify_password}}"/>
                </td>
                
            </tr>
            
            <tr>
                <td colspan="2" align="right">
                    <input type="submit" value="Submit"/>
                </td>
                <td></td>
            </tr>
        </table>
     </form>
     {% endblock %}