
{% extends "base.html" %}

{% block content %}
<form action="/newpost" method="POST">
    <center><h1>Add a Blog Entry</h1></center>
    <table cellpadding="5" cellspacing="5">
        <tr>
            <td><label for="title">Title for your new blog:</label></td>
        </tr>
        <tr>
        <td> <input type="text" name="title" value="{{title}}"/></td>
        </tr>
        <tr>
            <td><span class="error">{{title_error}}</span></td>
        </tr>
        <tr>
            <td><span class="error">{{title_validation}}</span></td>
       </tr>
       
        <tr>
         <td><label for="body">Your new blog:</label></td>
        </tr>
        <tr>
        <td><input type="text" name="body" value="{{body}}" class="textarea"></td>
    </tr>
    <tr>
         <td><span class="error">{{body_error}}</span></td>
        </tr>     
    <tr>
        <td><input type="submit" value="Add Entry"/>
    </td></tr>
    </table>
    
 </form>   
    

{% endblock %}